.wallet_balance {
    overflow: scroll;
    flex-wrap: wrap;
    align-items: flex-start;

    .semi-autocomplete {
        .semi-input-wrapper {
            width: 300px;
            border-radius: 200px;
        }
    }
}