@import '@/var.scss';

@mixin border {
    border: 1px solid var(--semi-color-primary-light-default);
}

.overview {
    width: 100%;
    height: 100%;
    overflow: scroll;

    .search_wrap {
        .search {
            margin: 10px 0;

            &:nth-last-of-type(1) {
                margin-bottom: 0;
            }
        }
    }

    .pop_hover {
        .sort {

            transition: 300ms;
            opacity: 1 !important;
        }
    }

    .semi-slider-handle {
        width: 16px;
        margin-top: 0.7rem;
        height: 16px;
    }

    .semi-datepicker-range-input {
        background: none !important;
        border: 1px solid var(--semi-color-fill-0);
    }


    .title {
        // margin: 16px 0;
        margin-bottom: 16px;
    }

    .money {
        font-size: 18px;
        font-weight: bold;
    }

    .portfolio {
        flex-shrink: 0;

        &-item {
            height: 74px;
            border-radius: 8px;
            @include border;
            width: 48%;
        }
    }

    .order-history {
        box-sizing: border-box;
        padding: 0 16px;

        .head {}

        .order {


            .order-item {
                margin-top: 14px;
                border-radius: 12px;
                height: 60px;
                width: 100%;
                background-color: pink;

                .icon {
                    margin: 0 30px;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #eee;
                    margin-right: 10px;
                }

                .price {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }

    .view {
        // position: absolute;  
        right: 12px;
        z-index: 9999;
        // margin-top: -6rem;
        transition: 0;
    }
}

.sub {
    color: var(--sub-text-color);
    font-size: 16px;
    font-weight: bold;
    margin: 16px 0;
}