@import '@/var.scss';

.address-detail {

    .semi-tabs-content {
        margin-top: 12px;
    }

    .content-head {
        height: auto;
    }

    .search {
        margin: 0 0 12px 0;
    }

    .btn {
        &:hover {
            .semi-button-content {
                color: #fff !important;
            }

        }

    }

    .trans {
        ._table {
            >div:nth-of-type(1) {
                margin-top: 1rem !important;
            }
        }
    }
}