html {
    --text-color: #002237;
    --sub-text-color: #657795;
    --act-text-color: #2973FF;
    // --bd-color: linear-gradient(90deg, #7650FF 0%, #2973FF 100%);
    --bd-color: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);

    --bg-color: rgb(238, 238, 238);
    // --semi-color-primary-light-default: var(--semi-color-primary-light-default);
}


.title {
    font-size: 20px;
}


.hover {
    cursor: pointer;

    &:hover {
        opacity: .6;
    }
}

img {
    border-radius: 8px;
}